@media (min-width: 768px) {
  .lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .container {
    height: 25rem;
    padding: 0 0.8rem;
    border-radius: 0.8rem;
    background: url(../images//image-product-1.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container_two {
    height: 25rem;
    padding: 0 0.8rem;
    border-radius: 0.8rem;
    background: url(../images//image-product-2.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container_three {
    height: 25rem;
    border-radius: 0.8rem;
    padding: 0 0.8rem;
    background: url(../images//image-product-3.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container_four {
    height: 25rem;
    padding: 0 0.8rem;
    border-radius: 0.7rem;
    background: url(../images//image-product-4.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prev {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: relative;
    right: 3rem;
    border: none;
    background: white url(../images//icon-previous.svg) no-repeat center;
  }

  .next {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: relative;
    left: 3rem;
    border: none;
    background: white url(../images//icon-next.svg) no-repeat center;
  }

  .lightbox_thumbnails {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-evenly;
  }

  .lightbox_thumbnail_one {
    height: 5rem;
    width: 5rem;
    border-radius: 0.7rem;
    background: url(../images//image-product-1-thumbnail.jpg) no-repeat center;
    background-size: cover;
  }

  .lightbox_thumbnail_two {
    height: 5rem;
    width: 5rem;
    border-radius: 0.7rem;
    background: url(../images//image-product-2-thumbnail.jpg) no-repeat center;
    background-size: cover;
  }

  .lightbox_thumbnail_three {
    height: 5rem;
    width: 5rem;
    border-radius: 0.7rem;
    background: url(../images//image-product-3-thumbnail.jpg) no-repeat center;
    background-size: cover;
  }

  .lightbox_thumbnail_four {
    height: 5rem;
    width: 5rem;
    border-radius: 0.7rem;
    background: url(../images//image-product-4-thumbnail.jpg) no-repeat center;
    background-size: cover;
  }

  .lightbox_thumbnail_one:hover,
  .lightbox_thumbnail_two:hover,
  .lightbox_thumbnail_three:hover,
  .lightbox_thumbnail_four:hover {
    cursor: pointer;
  }

  .lightbox_thumbnail_active::after {
    position: absolute;
    content: "";
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 0.7rem;
    background: hsla(0, 0%, 100%, 0.5);
    border: 2.5px solid hsl(26, 100%, 55%);
  }
}

@media (min-width: 1024px) {
  .lightbox {
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .lightbox {
    width: 33vw;
  }
}
