@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 5rem;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0 8rem;
  }
}
